.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.btn {
    background: rgb(0, 0, 0);
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    text-align: center;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(255, 0, 0);
    transition: 400ms ease all;
}

.btn::after {
    top: inherit;
    left: 0;
    bottom: -4px;

}

.btn:hover::before,
.btn:hover::after {
    width: 100%;
    transition: 800ms ease all;
    background: transparent;
    color: rgb(255, 0, 0);
}