.custom-btn {
    /* width: 130px;
    height: 40px; */
    padding: 10px 25px;
    cursor: pointer;
    position: relative;
}

.btn {
    background: rgb(0, 0, 0);
    color: #fff;
    border: none;
}

.btn::before,
.btn::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    background: rgb(255, 0, 0);
    transition: 400ms ease all;
}

.btn::after {
    left: 0;
    bottom: -4px;

}

.btn::before {
    right: 0;
    top: -4px;
}

.btn:hover::before,
.btn:hover::after {
    width: 100%;
    transition: 800ms ease all;

}

.btn:hover {
    color: rgb(255, 0, 0);
    background-color: #fff;
}